{% extends 'base.html' %}


{% block content %}
{% load custom_template_tags %}
<section id="plots" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
      
          <div class="card listing-preview">

            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-primary text-white">{% show_price plot.plot_no.plot_type %} {% show_currency plot.plot_no.plot_type %}</span>
              </h2>
            </div>

            TOTAL HOURS  {% total_hours user plot.id %}

            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-primary text-white">Total Amount: {% calculate_fare user plot.id plot.plot_no.plot_type %} {% show_currency plot.plot_no.plot_type %}</span>
              </h2>
            </div>

            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{ plot.plot_no.plot_type | upper  }}  Wheelar</h4>
                <p>
                  <i class="fas fa-map-marker text-primary"></i>
                  <!--  -->
                  Floor: {{ plot.plot_no.floor | adder }} 
                </p>
              </div>
              <hr />
              <div class="row py-2 text-primary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> {{ plot.plot_no.plot_no | adder }} No.
                  Plot
                </div>
                <div class="col-6">
                  <i class="fas fa-car"></i> {{ plot.plot_no.block }} Block
                </div>
              </div>
  
              <hr />
              <a  href="{% url 'parking:exit' plot.plot_id plot.id %}" ><button style="position: relative" type="button"
                class="btn btn-primary btn-block">PAID</button></a>
               
              <!-- <a
                href="{% url 'parking:exit' plot.id plot.id %}"
                class="btn btn-primary btn-block"
                >Exit</a
              > -->
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}